---
parser: '@typescript-eslint/parser'
parserOptions:
  ecmaVersion: 2022
  
env:
  node: true

extends:
  - plugin:@typescript-eslint/recommended
  - plugin:unicorn/recommended
  - plugin:prettier/recommended

rules:
  unicorn/prevent-abbreviations:
    - error
    - replacements:
        env: false
        params: false
        props: false
